<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRrCb1u-KNgDYSv5WpUh7wGPWVodnBu6A</string>
	<key>GCM_SENDER_ID</key>
	<string>259171231904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-task-86ba1</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-task-86ba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259171231904:ios:69573281e7551a9cfd01c5</string>
</dict>
</plist>